<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>

<body>
  <%- include('partials/header.ejs') %>

  <div class="limiter">
    <form action="/productos/<%= (product.id) %>?_method=PUT" method="POST">
      <div class="container-login100">
        <div class="product_div">
          <p>Nombre del producto</p>
          <input class="input100" type="text" name="name" value="<%= product.name %>">
          <span class="focus-input100"></span>

          <p>Descripcion</p>
          <input class="input100" type="text" name="description" value="<%= product.description %>">
          <span class="focus-input100"></span>

          <p>Precio</p>
          <input class="input100" type="text" name="price" value="<%= product.price %>">
          <span class="focus-input100"></span>

          <p>Categoria</p>
          <select name="category_id" id="productos">
            <option value="Teclados">Teclado</option>
            <option value="Mouse">Mouse</option>
            <option value="Auriculares">Auricular</option>
            <option value="Monitores">CPU</option>
          </select>
        </div>
        <div>
          <input class="input100" type="file" id="image" name="image" accept="image/*" value="<%= product.image %>">

          <span class="focus-input100"></span>

          <div class="button_carrito">
            <input type="submit" value="publicar" class="login100-form-btn">
          </div>
        </div>
      </div>
    </form>
  </div>




  <%- include('partials/footer.ejs') %>
</body>

</html>