<!--el inicio de la pagina, en otros sitios tambien se puede llamar main-->
<!DOCTYPE html>
<html>

<head>
  <title>Chubacha</title>
  <%- include('partials/head.ejs') %>
</head>

<body>
  <%- include('partials/header.ejs') %>

  <div class="jumbotron">
    <h1 class="display-4"></i> Bienvenido </h1>
    <h3>Somos Chubacha, una tienda para los que aman Star Wars y la computacion.</h3>
    <hr class="my-6">
    <p>Aprevecha los descuentos del 25% desde el 31 de Noviembre hasta el 31 de Diciembre.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/productos" role="button">Accede al descuento</a>
    </p>
  </div>

  <section class="white-section" id="features">

    <div class="container features-container container-index">
      <div class="row">
        <div class="feature-box col-lg-4">
          <i class="fas fa-check-circle fa-4x features-icon"></i>
          <h3 class="features-header h3-title-bootstrap">Pago 100% seguro</h3>
          <p class="features-body">Tus compras estan aseguradas con Mercado Pago.</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="fas fa-bullseye fa-4x features-icon"></i>
          <h3 class="features-header h3-title-bootstrap">La mejor calidad</h3>
          <p class="features-body">En Chubacha nos comprometemos en ofrecer productos de la mejor calidad.</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="fas fa-heart fa-4x features-icon"></i>
          <h3 class="features-header h3-title-bootstrap">Garantia de 2 años</h3>
          <p class="features-body">Si tu producto tiene fallas nosotros te ayudamos.</p>
        </div>
      </div>
    </div>

  </section>

  <div>
    <h1 class="title-productos">Productos mas vendidos</h1>

  </div>


  <div class="grid">



    <% products.forEach(product => { %>
    <div class="card">
      <img src="images/productos/<%= product.image %>" alt="Avatar" style="width:100%">

      <div class="container">
        <h4><b><%= product.name %></b></h4>

        <p>$ <%= product.price %></p>
        <a href="/productos/<%= product.id %>"><button class="card__btn">Explorar <span>→</span></button></a>
      </div>
    </div>
    <%})%>

  </div>

  <h1 style="text-align: center; margin-top: 40px;">Categorias</h1>
  <div class="container features-container container-index">
    <div class="row">
      <div class="col-sm-6">
        <div class="card" style="margin-top: 20px;">

          <div class="card-body">

            <h2 class="card-title">Teclados</h2>

            <a href="#" class="btn btn-primary">Ver mas</a>
          </div>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="margin-top: 20px;">

          <div class="card-body">
            <h2 class="card-title">Monitores</h2>
            <!--             <p class="card-text">Monitores de 22"</p>
 --> <a href="#" class="btn btn-primary">Ver mas</a>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="card" style="margin-top: 20px;">

          <div class="card-body">

            <h2 class="card-title">Mousepads</h2>

            <a href="#" class="btn btn-primary">Ver mas</a>
          </div>

        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="margin-top: 20px;">

          <div class="card-body">
            <h2 class="card-title">CPUs</h2>
            <!--             <p class="card-text">Monitores de 22"</p>
 --> <a href="#" class="btn btn-primary">Ver mas</a>
          </div>

        </div>
      </div>
    </div>
  </div>



  <!--   <div>
    <h1 class="title-productos">Nuevos Productos</h1>

    <div class="grid">

      <% products.forEach(product => { %>
      <div class="card">
        <img src="/images/auri4.JPG" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b><%= product.name %></b></h4>
          <p>$ <%= product.price %></p>
          <a href="/productos/<%= product.id %>"><button class="card__btn">Explore <span>→</span></button></a>
        </div>
      </div>
      <%})%>

    </div> -->



  <%- include('partials/footer.ejs') %>
</body>

</html>

<script src="/public/js/map.js"></script>