<!--Vista LOGIN del usuario-->
<!DOCTYPE html>
<html>

<head>
    <!--PARTIAL HEAD-->
    <%- include('partials/head.ejs') %>
    <style>
        .sin-cuenta {
            padding: 10px;
            color: black;
        }

        .sin-cuenta a {
            padding-left: 5px;
            color: orangered;
        }
    </style>
</head>

<body>
    <!--PARTIAL HEADER-->
    <%- include('partials/header.ejs') %>




    <!--INICIO Login-->
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-90">
                <form class="login100-form validate-form flex-sb flex-w" action="/users/login" method="POST">
                    <span class="login100-form-title palabraLogin">
                        Login
                    </span>

                    <div class="wrap-input100 validate-input div-del-input" data-validate="Password is required">
                        <input class="input100" required name="email" placeholder="Correo electronico">
                        <span class="focus-input100"></span>
                    </div>
                    <p style="color: red;"><%= locals.errors && errors.email ? errors.email.msg : '' %></p>

                    <!-- INICIO input para la contrase単a-->
                    <div class="wrap-input100 validate-input div-del-input" data-validate="Password is required">
                        <input class="input100" type="password" name="password" placeholder="Contrase単a">
                        <span class="focus-input100"></span>
                    </div>
                    <p style="color: red;"><%= locals.errors && errors.password ? errors.password.msg : '' %></p>

                    <!-- FIN input para la contrase単a-->

                    <!-- INICIO Recordar Usuario -->
                    <div class="field">
                        <div class="control">
                            <input type="checkbox" name="remember" id="remember">
                            <label for="remember"> <strong style="color: orangered;">Recordar mis datos</strong></label>


                        </div>
                    </div>
                    <!-- FIN Recordar Usuario -->

                    <!--INICIO boton de Login-->
                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                    <!--FIN boton de Login-->



                    <div>
                        <p class="sin-cuenta">多No tenes cuenta todavia?<a href="/users/register">Registrate</a></p>
                    </div>

                    <% locals.errors && console.log(errors); %>




                </form>
            </div>
        </div>
    </div>
    <!--FIN login-->

    <!--PARTIAL FOOTER-->
    <%- include('partials/footer.ejs') %>

</body>

</html>