<!--vista de un solo producto-->
<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head.ejs') %>

  <style>
    .producto-container {
      margin: auto;
      width: 70%;
      padding: 10px;
    }

    .producto-desc {
      margin: 25px;

    }

    .button {
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    div p,
    div h3,
    div h2 {
      color: black;
    }

    .button1 {
      background-color: red;
    }

    /* Green */
    .button2 {
      background-color: #008CBA;
    }
  </style>
</head>

<body>
  <%- include('partials/header.ejs') %>


  <div class="producto-container">

    <div class="producto-desc">


      <img src="/images/productos/<%= product.image %>" alt="Avatar" length="250px" width="250px">
      <h2>Producto <%= product.id %></h2>
      <h2><%= product.name %></h2>
      <h3>Descripcion</h3>
      <p><%= product.description %>.</p>
      <!-- <h3>Categoria</h3>
      <p><%= product.category_id %> </p> -->
      <h3>Precio</h3>
      <p>$<%= product.price %></p>

    </div>



    <% if(locals.user ){ %>

    <% if ( user.category_id == 1){ %>
    <div>
      <a href="/productos/<%= product.id %>/editar">
        <button class="button button2" type="button">
          Editar
        </button></a>

      <form method="POST" action="/productos/<%= product.id %>?_method=DELETE" method="POST">
        <button class="button button1" type="submit">
          <a>Eliminar</a>
        </button>
      </form>
    </div>
    <% }  else {%>
    <div>
      <a href="/productos/carrito">
        <button class="button button2" type="button">
          Comprar
        </button>
      </a>
    </div>

    <% } } else {%>

    <div>
      <a href="/users/login">
        <button class="button button2" type="button">
          Comprar
        </button>
      </a>
    </div>
    <% } %>
  </div>




  <%- include('partials/footer.ejs') %>
</body>

</html>