<!--Esta vista generara un lista de todos los productos-->

<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head.ejs') %>
</head>

<body>
  <%- include('partials/header.ejs') %>

  <div>
    <h1 class="title-productos">Lista de productos</h1>
  </div>

  <div class="grid">

    <main>
      <div class="grid">

        <% products.forEach(product => { %>
        <div class="card">
          <img src="images/productos/<%= product.image %>" alt="Avatar" style="width:100%">

          <div class="container">
            <h4><b><%= product.name %></b></h4>

            <p>$ <%= product.price %></p>
            <a href="/productos/<%= product.id %>"><button class="card__btn">Explorar <span>→</span></button></a>
          </div>
        </div>
        <%})%>

      </div>
    </main>
  </div>

  <%- include('partials/footer.ejs') %>
</body>

</html>