<!--formulario para registrar un usuario-->
<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <%- include('partials/header.ejs') %>

    <!--Register-->
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-90">

                <h2 style="text-align: center;">
                    <%= locals.errors && errors.emailRepeat ? errors.emailRepeat.msg : '' %>
                </h2>
                <form action="/users/register" method="POST">

                    <span class="login100-form-title palabraLogin">
                        Registrarse
                    </span>
                    <div class="wrap-input100 validate-input div-del-input" data-validate="Password is required">
                        <input class="input100" required name="name"
                            value="<%= locals.body && body.name ? body.name : '' %>" placeholder="Nombre" type="text">
                        <span class="focus-input100"></span>
                    </div>
                    <p style="color: red;"><%= locals.errors && errors.name ? errors.name.msg : '' %></p>

                    <!-- APELLIDO -->
                    <div class="wrap-input100 validate-input div-del-input" data-validate="Password is required">
                        <input class="input100" required name="last_name" placeholder="Apellido" type="text"
                            value="<%= locals.body && body.last_name ? body.last_name : '' %>">
                        <span class="focus-input100"></span>
                    </div>
                    <!-- CORREO ELECTRONICO -->
                    <div class="wrap-input100 validate-input div-del-input" data-validate="Password is required">
                        <input type="email" class="input100" required name="email" placeholder="Correo electronico"
                            value="<%= locals.body && body.email ? body.email : '' %>">
                        <span class="focus-input100"></span>
                    </div>
                    <p style="color: red;"><%= locals.errors && errors.email ? errors.email.msg : '' %></p>

                    <!-- PASSWORD -->
                    <div class="wrap-input100 validate-input div-del-input" data-validate="Password is required">
                        <input type="password" class="input100" type="password" name="password" required
                            placeholder="Contraseña" value="<%= locals.body && body.password ? body.password : '' %>">
                        <span class="focus-input100"></span>
                    </div>
                    <p style="color: red;"><%= locals.errors && errors.password ? errors.password.msg : '' %></p>
                    <input type="submit" value="registrarse" class="login100-form-btn">
                </form>

                <!-- <form class="login100-form validate-form flex-sb flex-w" method="POST" action="/users/register"
                    enctype="multipart/form-data">

                    <span class="login100-form-title palabraLogin">
                        Registrarse
                    </span>

                    <div class="wrap-input100 validate-input div-del-input" data-validate="Password is required">
                        <input class="input100" required name="name" placeholder="Nombre" type="text">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input div-del-input" data-validate="Password is required">
                        <input class="input100" required name="last_name" placeholder="Apellido" type="text">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input div-del-input" data-validate="Password is required">
                        <input type="email" class="input100" required name="email" placeholder="Correo electronico">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input div-del-input" data-validate="Password is required">
                        <input type="password" class="input100" type="password" name="password" required
                            placeholder="Contraseña">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn m-t-17">
                        <input type="submit" value="registrarse" class="login100-form-btn">

                    </div>



                </form> -->



            </div>
        </div>
    </div>


    <%- include('partials/footer.ejs') %>
</body>

</html>